.input-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    transition: all 0.5s;
}
.login-form {
    transition: opacity 0.5s, max-height 0.5s;
    opacity: 1;
    max-height: 500px;
    overflow: hidden;
}
.login-form__hide {
    opacity: 0;
    transition: opacity 0.5s, max-height 0.2s;
}